/**********************
GENERAL RULES  
*********************/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
ul,
ol,
li,
menu {
  list-style: none;
}
html {
  font-family: "noto-sans", sans-serif;
  color: var(--nav-text);
}
a {
  text-decoration: none;
  color: currentColor;
}
body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--page);
}

/**********************
SERVICE RULES  
*********************/
:root{
    /* colori */
    --nav: #000000;
    --player: #282828;
    --page: #141922;
    --new-playlist: #A3A3A3;
    --nav-text:#676767;
    --user: #808080;
    --active-slider #BCBCBC;
    --empty-slider:#585858;
    --selected:#BDFD31;
    
}


/**********************
MACRO LAYOUT  
*********************/
.main-content{
    /* border: 2px solid red; */
    flex-grow: 1;
    display: flex;
}
.player-content{
    /* border: 2px solid red; */
    flex-basis: auto;
    /* min-height: 90px; */
    flex-shrink: 0;
    background-color: var(--player);
    overflow: hidden;
    z-index: 999;
    padding: 5px 10px 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    /* border: 2px solid green; */
    flex-basis: 230px;
    flex-shrink: 0;
    background-color: var(--nav);
    overflow:hidden;
    max-height: calc(100vh - 90px);
    
    
}
.music{
    /* border: 2px solid green; */
    flex-grow: 1;
    background-color: var(--page);
    overflow: auto;
    max-height: calc(100vh - 90px);
    position: relative;
    
}
.upgrade{
  background-color:rgba(0, 0, 0, 0.6);
  height: 90px;
  position:fixed;
  right: 0;
  width: calc(100% - 230px);
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.upgrade p{
    color: white;
    background-color: #080B12;
    border: 2px solid white;
    border-radius: 25px;
    height: 42px;
    width: 218px;
    padding: 12px 14px;
    margin-right: 25px;
}

.album{
    padding: 120px 30px 0 20px;  
}

/* **************************
PLAYER
************************** */
.player-brano{
  flex-basis: 220px;
  flex-shrink: 1;
  display: flex;
  align-items: center;
}
.player-opzioni{
  flex-basis: 165px;
  display: flex;
  align-items: flex-end;
  shape-rendering: 1;
}

.player-riproduzione{
  flex-basis: 50%;
  max-width: 500px;
  flex-shrink: 1;
  gap: 5px;
  color: white;
}
.brano{
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
}
.brano-thumb{
  max-width: 40px;
  margin-right: 14px; 
}
.brano-title h5{
  color: white;
  margin-right: 5px;
  flex-shrink:0;
}
.brano-title p{
  font-size: 10px;
  margin-top: 5px;
  margin-right: 5px;
}
.brano-icone{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.player-opzioni{
  color: white;
}
.player-display{
  margin: 0 10px;
}
.player-volume{
  display: flex;
  gap: 5px;
  align-items: center;
}

.volume-max{
  background-color:grey;
  padding: 2px;
  width: 85px;
  border-radius: 25px;
}
.volume-attuale{
  background-color:var(--new-playlist);
  padding: 2px;
  width: 50%;
}

.pulsanti-riproduzione{
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 20px;
  align-items: center;
}
.play-riproduzione{
  font-size: 30px;
  margin: 0 10px;
  margin-bottom: 10px;
  
}
.barra-riproduzione{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.riprodotto-riproduzione,
.fine-riproduzione{
  flex-basis: 15px;
}
.slider-riproduzione{
  flex-grow: 1;
}
.slider-tot{
  padding: 4px;
  background-color: grey;
  max-width: 95%;
  margin: 0 auto;
  border-radius: 25px;
}
.slider-actual{
  padding: 3px;
  max-width: 55%;
  background-color:var(--new-playlist);
  border-radius: 25px;
}

/* **************************
SIDEBAR
************************** */
.menu{
  display: flex;
  flex-direction: column;
}
.install-app{
  margin-top: auto;
}
.logo{
  padding: 20px;
}
.logo-piccolo{
  display: none;
}
.navigation .home{
  border-left: 3px solid greenyellow; 
  padding-left: 17px; 
  color: white;
  font-weight: 900;
 }
.navigation .find a,
.navigation .library a{
  padding-left: 20px;
}
.navigation .find{
  margin: 10px 0;
}

.playlist{
  padding-left: 20px;
  padding-top: 25px;
}
.playlist h4{
  color: white;
  text-transform: uppercase;
}
.create-pl{
  display: inline-block;
  background-color: var(--new-playlist);
  color: var(--nav);
  padding: 5px 8px;
  margin: 10px 0;
  font-weight: 900;
  font-size: 25px;
  border-radius: 1px;
}
.playlist-name li {
  padding: 5px 0;
}
.install-app,
.user{
  line-height: 2em;
  padding: 0 20px;
}
.download{
  padding-left: 5px;
  font-size: 10px;
}
.download-ico{
  font-size: 10px;
}
.separate{
  border: 2px solid #535353; 
  max-width: 100%;
  margin: 0 auto;
}
.user-name,
.user-name h4{
  display: inline-block;
  color: white;
  padding-top: 5px;
  padding-left: 3px;
  font-size: 12px;
}
.user-ico{
  font-size: 20px;
  
}




/* debug */
/* .logo,
.logo-piccolo
.navigation,
.playlist, */
/* .install-app, */
/* .user{ */
  border: 2px solid red;
}