@media screen and (max-width: 552px) {
  /**********************
LAYOUT  
*********************/
  .menu {
    flex-basis: 50px;
    padding: 5px 20px 8px 20px;
  }
  .upgrade {
    width: calc(100% - 50px);
  }

  /* **************************
  PLAYER
  ************************** */
  .volume-max {
    width: 50px;
  }
  .volume-attuale {
    width: 15px;
  }
  .player-riproduzione {
    flex-basis: 35%;
  }

  .pulsanti-riproduzione{
    gap: 5px;
    font-size: 8px;
  }
  .play-riproduzione{
    font-size: 15px;
    margin: 0 3px;
    margin-bottom: 5px;
}
