@media screen and (max-width: 552px) {
  /**********************
LAYOUT  
*********************/
  .menu {
    flex-basis: 50px;
    padding: 5px 20px 8px 20px;
  }
  .upgrade {
    width: calc(100% - 50px);
  }

  /* **************************
  PLAYER
  ************************** */
  .player-brano {
    flex-basis: 128;
  }
  .player-opzioni {
    flex-basis: 154px;
  }
}
